---
title: Ensure Email Security with These Essential Steps for Safelist Verification
date: 2025-01-28T18:57:03.095Z
updated: 2025-01-30T16:08:25.233Z
categories:
  - BestProducts
description: This Article Describes Ensure Email Security with These Essential Steps for Safelist Verification
excerpt: This Article Describes Ensure Email Security with These Essential Steps for Safelist Verification
thumbnail: https://www.lifewire.com/thmb/JRByYCMuCbvSjz0hsdRMMZJdLWA=/400x300/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-9-5c7f62fec9e77c00012f82fa.png
---

## Ensure Email Security with These Essential Steps for Safelist Verification
 The best way to make sure the emails you really want to see don't end up in the spam box is to create a list of email addresses from people you know. While this is typically called a safelist, the modern term is safelist.

 The safelisting procedure differs slightly different from one email service to the next.

![Laptop with email illustration](https://www.lifewire.com/thmb/NKQBkG-psDVwZcxymAitn1adq1o=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-166085867-57cde1153df78c71b6777a35.jpg)

 Atomic Imagery / Getty Images

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/7JBG_O3Vnh4?si=lUO0fta6YPJ50qjg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

## Gmail Safelist Procedure

 There is no quick checkbox in Gmail to add a sender email to an actual list of friends you want to keep out of the spam box. However, there are several effective ways to[safelist your friends in Gmail](https://www.lifewire.com/how-to-safelist-a-sender-or-domain-in-gmail-1172106) .

### Add Email Addresses to Contacts

[Open your contacts list in Gmail](https://www.lifewire.com/how-to-open-and-access-gmail-contacts-1171950) . The fastest method is just to visit the[Google Contacts link](https://contacts.google.com) .

![Create New Contact box in Gmail](https://www.lifewire.com/thmb/rU1sD9ziHaXu6ksKks_QMXoDLow=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/CreateNewContact-0ee62771091d4ab1bccc1261db262d49.jpg)

 On the Google Contacts page, select**Create contact** and fill out the**Create new contact form** . Google will send any incoming emails from your contact list directly to your inbox.

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/9sk53d1bBhY?si=yaTeDogLb3D4dYu1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

### Safelist Spam Emails

 Sometimes, a friend may send you an email that ends up in the Spam box before you've had a chance to safelist their email address. There's a quick way to fix that as well.

![Gmail message in Spam box with the Spam X box highlighted](https://www.lifewire.com/thmb/2yRFZbqwsUYYqklvQlfZXfGbV_w=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Markasnotspamannotated-e8a767f0526d48e0acb5f17a1ffaf2e0.jpg)

 Open your Spam box by selecting**Spam** from the navigation bar, and find your friend's email. You'll see a Spam label at the top of the email. Click the**x** next to the label to remove it.

### Add a Non-Spam Filter

 One way to guarantee that your friend's incoming emails will never end up in the Spam box is to[create a filter](https://www.lifewire.com/auto-filter-gmail-messages-1616958) .

1. From your inbox screen, select**Settings** (gear icon).  
![The Settings gear in Gmail](https://www.lifewire.com/thmb/R_L8KfpWhrbFl8lfSpnLMSe10B8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/001a-how-to-forward-your-gmail-email-to-another-email-address-1171906-34faee4a26e44bf0867acc095a8227b2.jpg)
2. Select**See all settings** .  

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/6xGqSETroqA?si=4C1GPgXi-AksR_oO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

![The "See All Settings" button in Gmail](https://www.lifewire.com/thmb/vFVY1fT96fGXDU3EV8O9uy4WeM4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/002a-how-to-forward-your-gmail-email-to-another-email-address-1171906-3571b33b927f4a3f91dd47069852ff1c.jpg)
3. Select**Filters and Blocked Addresses** from the navigation links at the top.  
![Gmail settings with "Filters and blocked addresses" highlighted](https://www.lifewire.com/thmb/XIRFoWfmoZf89F_5JImdTgh8gUs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Filtersandblockedaddressesannotated-4cbb2fbb83744f909beedaa558c98bb8.jpg)
4. Select**Create a new filter** .  

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/YezPJZzPJ8Q?si=xF1t4BQHFquzvnzE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

![Gmail settings with "Create a new filter" highlighted](https://www.lifewire.com/thmb/JsyNXZyZD452DAw3shIFBziRpEk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/CreateaNewFilterannotated-21c448bdb71241aab29fe1c40d22ef8b.jpg)
5. In the**Search mail** form, enter either an entire domain you want to safelist or a specific email address. Use domains to safelist anyone from a specific company. When you're done, select**Create filter** .  
![Gmail settings Create Filter dialog with "Create Filter" highlighted](https://www.lifewire.com/thmb/zfzbM9Wm0ymU-B8qQ65A-YZJQqk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/CreateFilterannotated-fcb5a586d03547c9b4d73f68e7d9c358.jpg)
6. On the next form, select**Never send it to Spam** . Finally, click**Create filter** .  
![Gmail filter settings with "Never send it to spam" and "Create Filter" highlighted](https://www.lifewire.com/thmb/0pksvQktOdYwQ_RHEgemit0DiWU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Neversendtospamannotated-f034f64023fc464a8c2a44282cf7cc55.jpg)
7. Once you're done, you'll see the new filter show up in the list of filters.

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/TJCye_oCTTw?si=6bVyBphcSgSFdyuq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/aRMCbJxLuwE?si=E5sfJvoqkv1qCMWz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

## How to Safelist Yahoo Emails

 Safelisting an email address in Yahoo is similar to Gmail. Either add the email address to your Yahoo contacts or[create a filter](https://www.lifewire.com/set-up-filter-yahoo-mail-1167129) .

### Add a Yahoo Contact

 In Yahoo Mail, select the**Contacts card icon** in the upper right corner of your Inbox. Select**New Contact** in the left navigation pane.

![Screenshot of the Add Contact form in Yahoo Mail](https://www.lifewire.com/thmb/04F4MMEZyubz0eT9rDSBfJi5Vjc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-5-5c7f4f95c9e77c00012f82f9.png)

 Complete the**Add Contact** form with your friend's name and email address. Select**Save** to save the new contact. Yahoo will no longer place incoming emails from this email address to your Spam box.

### Add a Filter in Yahoo Mail

 Another way to keep your friends' incoming messages from Spam is to add a fliter that ensures the email lands in your inbox.

1. Select the**Gear icon** in the upper right corner of your inbox and click or tap**More** **Settings** .  
![Screenshot of More Settings in Yahoo Settings](https://www.lifewire.com/thmb/pIFPcd28tdTVZyXvHjC0J82v3gk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-9-f40e8f18587f4b37bf0e1503abcb1798.png)
2. Select**Filters** from the left navigation menu then**Add new filters** .  
![Screenshot of Add new filters in Yahoo Settings](https://www.lifewire.com/thmb/zhht3NT9ESGlhuyAlu4AfXBVRMk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-10-f0e3428bb24b431db2c36b74e57a5987.png)
3. In the**Add a new filter** form, give the filter a name and fill out the domain or the email address you want to safelist. Select**Save** twice to activate the new filter.  
![Screenshot of adding a new filter in Yahoo](https://www.lifewire.com/thmb/wdjoMDtN1zZ9t7nIeMURoQWsll0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-11-1e90405d264d4fcb9f192d77bb550e4d.png)
4. The filter now appears in the list of filters in the**Filters** window.

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/cBCyRXC1-Tw?si=lN9P2xo0hsfyD8K6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

 This filter move the incoming email from that address directly to your Inbox by default.

## Outlook Safelist Procedure

 If you're an Outlook Online user, safelsiting your friends is similar. Add Contacts to safelist friends or use the Safe Senders feature.

### Add Contacts in Outlook.com

 Adding contacts is just as easy as Gmail or Yahoo. Open your Outlook Online contacts by clicking the**Applications icon** at the upper left corner of the window then select the**People** application.

![Screenshot of adding a contact in Outlook Online](https://www.lifewire.com/thmb/qo9UbKkT9qKckK_tWOg4TmA36x4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-6-5c7f52f7c9e77c0001e98f55.png)

 Type the**First Name** ,**Last Name** , and**Email Address** . When you're done, select**Create** to create the new contact.

 Any email address listed in your Outlook contacts won't go to the Spam folder.

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/h5uImbOWmTg?si=z4kP-R0QbXbBAJTa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

### Add Contact to Safe Senders

[Adding Safe Senders](https://www.lifewire.com/add-address-domain-safe-senders-outlook-1173760) is a guaranteed way to keep friends out of your Spam box.

1. Select the Gear icon in the top right corner of the window then select the**View all Outlook settings** link at the bottom of the list.
2. In the Settings window, select**Mail** in the left navigation pane then**Junk email** in the navigation pane to the right of that. Under**Safe senders and domains** , click or tap**Add** .
3. In the pop-up field, add an email address or entire domain to add to your Safe Senders list. Press the**Enter** key when you're done. Click the**Save** button to finish.

 Any email from an address or domains in the Safe Senders list go directly to your Inbox.

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/E1ax-vnGdeo?si=bgTkOhOEwDTlRQE3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

## Comcast Email Safelist

 Comcast, otherwise branded as Xfinity, is one of the most popular Internet Service Providers in the country. For this reason, many people may need to safelist their friends using that service.

 If you sign up for it, Xfinity provides customers with a free email account. There are several ways to safelist your friends with Xfinity.

### Add an Xfinity Contact

 Like the other email providers listed above, an easy way to keep friends out of the Spam box is to add them to your contact list.

 To add an Xfinity contact, log into your email account and select**Address Book** in the top menu. Then, select the**Create Contact** icon. Complete and save the form.

![Screenshot of the import contacts feature in Xfinity email](https://www.lifewire.com/thmb/JthsnR3FiInbJSwMcVzJDbOhVNk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-7-5c7f57fe46e0fb0001d83e1b.png)

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/jpdGEJJwMLY?si=eKgXOPpNeYvYKcel" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

 An even faster way to safelist emails of all of your friends is to import contacts from your other accounts.

 When you click on**Address Book** , you'll see an**Import contacts** link in the left navigation pane. Click**Get Started** , and walk through the wizard to import existing contacts from your other accounts like Gmail, Outlook, Yahoo, or even a text file.

### Add a Safelist Email Filter

 Like Gmail and Yahoo, the best way to safelist friends in your Xfinity email account is to create a filter that guarantees the incoming email will go to your Inbox.

1. Select the**gear icon** in the upper right corner and click or tap**Settings** .  
![Screenshot of settings in Xfinity Mail](https://www.lifewire.com/thmb/tke3_qVbfBAj1Bln8C1VQEyBr7E=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-12-90e7b9f373a942fa9c48ba689d8a89f2.png)
2. Select**Filter Rules** , under**Mail** in the left navigation pane, then the**Add New Rule** button.  
![Screenshot of adding new rules in Xfinity Mail](https://www.lifewire.com/thmb/BMW04b_pPIGnrxmniem2hRonO3E=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-13-81a16660f1a6477a8b63fe32782a6b90.png)
3. Make the**Rule Name** your friend's name. Select**Add condition** and choose**Sender/From** . In the**Contains** field, type the email address or domain to safelist.  
![Screenshot of adding a new rule in Xfinity Mail](https://www.lifewire.com/thmb/cV8hZYQypsP8f_uC_foBaC9AJGc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-14-1426ce02076f40afb18ce38b2061b717.png)
4. Select the**Add action** link then**Keep** . Save the new rule.  
![Screenshot of adding an action to a rule in Xfinity Mail](https://www.lifewire.com/thmb/1fva1KXb-V0T_udxD2-N05IJKZo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-whitelist-email-addresses-4588603-15-c756a2d751b54284af99321e42bdb8c6.png)
5. Once you're done, you'll see your new filter show up under**Mail Filter Rules** in Xfinity Mail settings.

 By choosing "Keep", you're ensuring that incoming emails from that domain or email address will land in your inbox.

### Email Safe List

 In**Settings** , if you select**Advanced Settings** under Mail in the left navigation pane, you'll see a section titled**Email Safe list** .

 If you enable**Use email safe list** , only emails that are on your email safe list will show up in your inbox. Every other incoming email will be discarded.

 This appproach is ideal if you're only looking to use your Xfinity email account to communicate with a limited set of people. However, enabling this feature prevents anyone else from ever being able to send you an email.

 This may be a great way to eliminate all forms of spam, but it also drastically reduces the usefulness of your email account.

Was this page helpful?

Thanks for letting us know!

 Get the Latest Tech News Delivered Every Day

[Subscribe](https://www.lifewire.com/#)

Tell us why!

 Other  Not enough details  Hard to understand

 Submit

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://article-knowledge.techidaily.com/new-creepy-comic-composer-for-2024/"><u>[New] Creepy Comic Composer for 2024</u></a></li>
<li><a href="https://discord-videos.techidaily.com/new-the-ultimate-tutorial-for-adding-discord-server-roles/"><u>[New] The Ultimate Tutorial for Adding Discord Server Roles</u></a></li>
<li><a href="https://twitter-videos.techidaily.com/updated-sharing-videos-on-tweet-no-retweets-just-phones-for-2024/"><u>[Updated] Sharing Videos on Tweet No Retweets, Just Phones for 2024</u></a></li>
<li><a href="https://technical-tips.techidaily.com/1-phantom-touch-issues-plaguing-additional-apple-watch-users-solutions-inside-zdnet/"><u>1. 'Phantom Touch Issues Plaguing Additional Apple Watch Users: Solutions Inside | ZDNet'</u></a></li>
<li><a href="https://technical-tips.techidaily.com/1-programmers-unite-apples-latest-upgrade-delivers-powerful-cost-free-artificial-intelligence-enhancements-to-developers/"><u>1. 'Programmers Unite: Apple's Latest Upgrade Delivers Powerful, Cost-Free Artificial Intelligence Enhancements to Developers!'</u></a></li>
<li><a href="https://techidaily.com/how-to-reset-asus-rog-phone-7-without-losing-data-drfone-by-drfone-reset-android-reset-android/"><u>How to Reset Asus ROG Phone 7 without Losing Data | Dr.fone</u></a></li>
<li><a href="https://android-unlock.techidaily.com/how-to-show-wi-fi-password-on-huawei-p60-by-drfone-android/"><u>How to Show Wi-Fi Password on Huawei P60</u></a></li>
<li><a href="https://technical-tips.techidaily.com/how-to-smoothly-shift-your-pictures-from-google-photos-to-icloud-a-comprehensive-guide/"><u>How to Smoothly Shift Your Pictures From Google Photos to iCloud - A Comprehensive Guide</u></a></li>
<li><a href="https://location-social.techidaily.com/in-2024-why-your-whatsapp-live-location-is-not-updating-and-how-to-fix-on-your-apple-iphone-8-drfone-by-drfone-virtual-ios/"><u>In 2024, Why Your WhatsApp Live Location is Not Updating and How to Fix on your Apple iPhone 8 | Dr.fone</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/in-depth-examination-androids-photography-solution-lightroom-for-2024/"><u>In-Depth Examination Android's Photography Solution, Lightroom for 2024</u></a></li>
<li><a href="https://discover-excellent.techidaily.com/step-by-step-tutorial-on-downloading-and-converting-the-walking-dead-episodes-to-popular-video-formats/"><u>Step-by-Step Tutorial on Downloading and Converting The Walking Dead Episodes to Popular Video Formats</u></a></li>
<li><a href="https://technical-tips.techidaily.com/the-ultimate-list-26-no-cost-registry-tools/"><u>The Ultimate List: 26 No-Cost Registry Tools</u></a></li>
<li><a href="https://technical-tips.techidaily.com/top-18-unbeatable-prime-day-blowout-offers-on-laptops-from-brands-like-hp-apple-and-razer-exclusive-selection/"><u>Top 18 Unbeatable Prime Day Blowout Offers on Laptops From Brands Like HP, Apple & Razer – Exclusive Selection!</u></a></li>
<li><a href="https://technical-tips.techidaily.com/troubleshooting-steamdll-issues-methods-for-restoration-and-prevention/"><u>Troubleshooting Steam.dll Issues: Methods for Restoration and Prevention</u></a></li>
</ul></div>

